#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
&kp ESC    &kp Q  &kp W  &kp F   &kp P   &kp G    &kp J      &kp L      &kp U      &kp Y    &kp SEMI  &kp BSPC
&kp TAB    &kp A  &kp R  &kp S   &kp T   &kp D    &kp H      &kp N      &kp E      &kp I    &kp O     &kp RET
&kp LSHFT  &kp Z  &kp X  &kp C   &kp V   &kp B    &kp K      &kp M      &kp COMMA  &kp DOT  &kp FSLH  &kp SQT
                         &trans  &trans  &mo 1    &kp SPACE  &kp RSHFT  &kp GRAVE
            >;
        };

        cursors {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans         &trans          &kp UP_ARROW  &trans     &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp PAGE_UP    &kp LEFT_ARROW  &kp DOWN      &kp RIGHT  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp PAGE_DOWN  &trans          &trans        &trans     &trans
                        &trans  &trans  &trans    &trans  &trans         &trans
            >;
        };

        numbers {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp N7  &kp N8  &kp N9  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp N4  &kp N5  &kp N6  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp N1  &kp N2  &kp N3  &trans  &trans
                        &trans  &trans  &trans    &trans  &kp N0  &trans
            >;
        };

        symbols {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans        &kp LS(AMPS)  &kp LS(STAR)   &kp LS(LPAR)   &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &kp LS(LBRC)  &kp LS(DLLR)  &kp LS(PRCNT)  &kp LS(CARET)  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &kp LS(RBRC)  &kp LS(EXCL)  &kp LS(AT)     &kp LS(POUND)  &trans  &trans
                        &trans  &trans  &trans    &trans        &kp LS(RPAR)  &trans
            >;
        };
    };
};
